body{
    font-size: 12px;
    line-height: 22px;
    color: #666;
    border-top: 3px solid #eee;
    background: #000 url(../img/back.png) repeat;
    -webkit-font-smoothing: antialiased;
}

.main-top-nav{
    border-radius:0px;
}
.main-top-nav .dropdown>a>span{
    margin-right: 5px;
}
.main-center-div{
    margin-top: 51px;
}
.main-left-div{
    width: 200px;
    float: left;
}
.main-left-div ul,.main-left-div li{
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.main-left-div ul,.main-left-div li,.main-left-div a{
    background-color: #f8f8f8;
}
.main-left-div .list-group-item{
    border-radius:0px;
    border-top: none;
}
.main-right-div{
    margin-left: 200px;
}
.main-center2-nav{
    border-radius:0px;
    margin: 0px;
    height: 50px;
}
.main-center2-nav ol,main-center2-nav li{
    margin: 0px;
}
.main-center2-nav .breadcrumb{
    padding: 13px 0px;
}

.main-right-div-content{
    margin-top: 5px;
}

/*左侧导航栏样式 开始*/
.list-group-item-click,#accordion>li>a:hover{
    border-bottom: 1px solid #167cac !important;
    border-top: 1px solid #2094ca !important;
    background-color: #0993d3;
    background: -webkit-gradient(linear, left top, left bottom, from(#1aaef3), to(#0993d3));
    background: -webkit-linear-gradient(top, #1aaef3, #0993d3);
    background: -moz-linear-gradient(top, #1aaef3, #0993d3);
    background: -ms-linear-gradient(top, #1aaef3, #0993d3);
    background: -o-linear-gradient(top, #1aaef3, #0993d3);
    background: linear-gradient(top, #1aaef3, #0993d3);
    box-shadow: none;
    color: #fff !important;
    font-weight: bold;
}
.list-group-item-click a,.list-group-item-click span{
    color: #fff !important;
}
#accordion{
    border-right: 1px solid #ccc;
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
    background: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
    background: -ms-linear-gradient(top, #f9f9f9, #f2f2f2);
    background: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
    background: linear-gradient(top, #f9f9f9, #f2f2f2);
    box-shadow: inset 0px 1px 1px #fff;
}
#accordion a{
    display: block;
    padding: 10px 20px;
    font-size: 13px;
    color: #777;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
}

#accordion>li>ul a{
    padding: 8px 35px;
}
#accordion>li>ul a:hover{
    background-color: #efefef;
    /*border-bottom: 1px solid #efefef !important;*/
    border-top: 1px solid #efefef !important;
}
/*左侧导航栏样式 结束*/