/*样式重写*/
body{padding-top: 0;}
.navbar{margin-bottom:0;}
header{margin-top: 50px;}
/**/

.file-row {
    padding: 10px 10px 5px;
    vertical-align: middle;
}

.file-name {
    font-size: 17px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-time {
    font-size: 12px;
    color: #969696;
    padding: 0px 5px 0px 0px;
}

.file-auth {
    font-size: 13px;
    color: #969696;
    padding-right: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-flag {
    padding: 0px 5px 0px 0px;
}

.row-right {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 0.5em;
    font-size: 18px;
    background-color: #f0eff5;
    border: 1px solid #ddd;
}

.row-right input {
    border: 0;
    width: 100%;
    height: 1.8em;
    margin-top: .1em;
    line-height: 1em;
    background-color: #f0eff5;
    color: #666666;
}

.container {
    overflow-x: hidden;
    padding: 5px 12px 0px 12px;
}

#list_div{
    padding-bottom: 10px;
}

#cue_div {
    width: 100%;
    position: fixed;
    bottom: 0;
    _position: absolute;
    left: 0px;;
}
.no-page{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    color: #969696;
}

.dis-none{
    display: none;
}

input,span{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}