.ui-spinner-input {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.ui-combobox {
    position: relative;
    display: inline-block;
    text-align: left;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    right:0;
    /* adjust styles for IE 6/7 */
    *height: 1.75em;
    *top: 0.1em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
    *padding: 0.25em;
}

.webui-text {
    position: relative;
    display: inline-block;
    text-align: left;
}

.webui-text-input {
    margin: 0;
    padding: 0.3em;
    *padding: 0.25em;
}

.webui-member-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    _height: 1.8em;
    _top: 0.1em;
}

table.webui {
    border-collapse: collapse;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

table.webui > caption {
    text-aligh: center;
    vertical-align: middle;
    background: #87B6D9 repeat-x left bottom;
    height: 28px;
    line-height: 22px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #FFF;
}

table.webui > tbody > tr > td,
table.webui > tbody > tr > th {
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

table.webui > tbody > tr.caption,
table.webui > tbody > tr > th,
table.webui > tbody > tr > td.caption {
    background-color: #E3EFFF;
    font-weight: bold;
}

table.webui > tbody > tr {
    height: 26px;
}

table.webui > tbody > tr > td {
}

table.webui > tbody > tr.bg1 {
}

table.webui > tbody > tr.bg2 {
    background: #ececec;
}

/*  常用按钮图标 */
.webui-icon {
    width: 16px;
    height: 16px;
}

.webui-icon-add {
    padding-left: 20px;
    background: url(/public/library/icons/add.png) no-repeat 0px;
}

.webui-icon-delete {
    padding-left: 20px;
    background: url(/public/library/icons/del.png) no-repeat 0px;
}

.webui-icon-edit {
    padding-left: 20px;
    background: url(/public/library/icons/edit.png) no-repeat 1px;
}

.webui-icon-copy {
    padding-left: 20px;
    background: url(/public/library/icons/copy.png) no-repeat 1px;
}

.webui-icon-item {
    padding-left: 20px;
    background: url(/public/library/icons/item.png) no-repeat 1px;
}

.webui-icon-search {
    padding-left: 20px;
    background: url(/public/library/icons/search.png) no-repeat 1px;
}

.webui-icon-back {
    padding-left: 20px;
    background: url(/public/library/icons/back.png) no-repeat 1px;
}

.webui-icon-check {
    padding-left: 20px;
    background: url(/public/library/icons/check.png) no-repeat 1px;
}

.webui-icon-config {
    padding-left: 20px;
    background: url(/public/library/icons/config.png) no-repeat 1px;
}

.webui-icon-install {
    padding-left: 20px;
    background: url(/public/library/icons/install.png) no-repeat 1px;
}

.webui-icon-refresh {
    padding-left: 20px;
    background: url(/public/library/icons/refresh.png) no-repeat 1px;
}

.webui-icon-settings {
    padding-left: 20px;
    background: url(/public/library/icons/settings.png) no-repeat 1px;
}

.webui-icon-dept {
    padding-left: 20px;
    background: url(/public/library/icons/dept.png) no-repeat 1px;
}

.webui-icon-post {
    padding-left: 20px;
    background: url(/public/library/icons/post.png) no-repeat 1px;
}

.webui-icon-person {
    padding-left: 20px;
    background: url(/public/library/icons/person.png) no-repeat 1px;
}

.webui-icon-save {
    padding-left: 20px;
    background: url(/public/library/icons/save.png) no-repeat 1px;
}
.webui-icon-cancel {
    padding-left: 20px;
    background: url(/public/library/icons/cancel.png) no-repeat 1px;
}
.webui-icon-end {
    padding-left: 20px;
    background: url(/public/library/icons/end.png) no-repeat 1px;
}

