.baidu_ads{ width:960px; height:90px; position:absolute; left:50%; bottom:0; margin-left:-480px; overflow:hidden;}
  <!---->
  /*html,body,div,ul,li,ol,a,input,textarea,p,dl,dt,dd{margin:0;padding:0;}*/
/*ul li{list-style: none;}*/
/*a{text-decoration: none;cursor: pointer;}*/
/*html{height: 100%;}*/
/*body{height: 100%;background: #f5f5f5;position: relative;max-width: 640px;margin:auto;}*/
/*a,input,img,textarea,span,div{outline: 0;-webkit-tap-highlight-color:rgba(255,0,0,0);}*/
#person-tree div,ul,li,ol,a,input,textarea,p,dl,dt,dd{margin:0;padding:0;}
header.fixed{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;

}
.header{
    margin:0 20px;
    text-align: center;
    color: #4e4a49;
    font-size: 1em;
    height: 45px;
    line-height: 45px;
    position: relative;
}
#letter{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    font-size: 75px;
    color: #555;
    text-align: center;
    line-height: 100px;
    background: rgba(145,145,145,0.6);
    position: fixed;
    left: 50%;
    top: 50%;
    margin:-50px 0px 0px -50px;
    z-index: 99;
    display: none;
}
#letter img{
    width: 50px;
    height: 50px;
    float: left;
    margin:25px 0px 0px 25px;
}
#person-tree .sort_box{
    width: 100%;
    position: absolute;
    float: left;
    background: white;
    /*overflow: hidden;
	padding-top: 8.5em;*/
}
#person-tree .sort_list{
    padding:12px 60px 19px 60px;
    position: relative;
    height: 68px;
    line-height: 68px;
    border-bottom:1px solid #ddd;
}

#person-tree .sort_list .num_logo{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    left: 13.5px;
    color: white;
}
#person-tree .sort_list .num_logo img{
    width: 40px;
    height: 40px;
}
#person-tree .sort_list .num_name,.sort_list .num_name2{
    color: #000;
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	/*--------------todo-------------*/
	line-height: 1.3;
    padding-left: .2em;
}

#person-tree .sort_list .num_name2{
	color: #c6c6c6;
	font-size: 12px;
}

#person-tree .sort_letter{
    height: 23px;
    line-height: 23px;
    padding-left: 20px;
    color:#b1b1b1;
    background: #ebebeb;
    font-size: 14px;
    border-bottom:1px solid #ddd;
}
#person-tree .initials{
    position: fixed;
    right: 0px;
	/*--------------todo-------------*/
	top: 11em;
    height: 100%;
    width: 2em;
    padding-right: 10px;
    text-align: center;
    font-size: 12px;
    z-index: 99;
    background: rgba(145,145,145,0);
}
#person-tree .initials li img{
    width: 14px;
}

#person-tree .search-child-w::-webkit-scrollbar {
	height: 0px;
}

.overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: -50px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: url(../images/loading.gif) no-repeat center;
    display:none;
}

#person-tree #top{position:fixed;top:0;width: 100%;height: 50px;line-height: 50px;z-index: 999;}
#person-tree #top .top{position: relative;text-align: center;background-color:#2dcc70;color:white;font-size: 18px;}
#person-tree #top .top .top-left{width: 2em;height: 2em;  line-height: 2.4em;  text-align: center;  position: absolute;  left: .5em;  top: .2em;  font-size: 18px;}
#person-tree #top .top .top-desc{height: 2em; line-height: 2.4em;text-align: center;position: absolute;right: .5em;top: .2em;font-size: 18px;}
#person-tree #top .top .top-right{width: 2em;text-align: center;position: absolute;top: 0;right: 0;}
#person-tree #pinyin{width: 100%;position: relative;padding-bottom: 60px;}
#person-tree #pinyin ul{width:2em;background: #ebebeb;}
#person-tree #pinyin ul li{width: 2em;  text-align: center;z-index: 9999;}
#person-tree #search-div{height: 46px;width: 100%;position: fixed;left: 0;top: 90px;z-index: 99;background-color: white;padding: .2em;}
#person-tree #search-div .search-input{width:98%;height: 44px;border:0;padding-left: 5px;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;float: left;font-size: 14px;}
#person-tree .dis-hidden{display: none;}
#person-tree .search-child-w{height: 46px;max-width: 75%;white-space:nowrap;overflow: auto;float:left;position: relative;}
#person-tree .search-child-div{width:100%;height: 46px;min-width: 24%;white-space:nowrap;overflow: auto;float:left;}
#person-tree .search-child{position: absolute;left: 0;top: 0;}
#person-tree .search-child .checked-div{width:40px;height:40px;margin: 0 2px;position: relative;float:left;font-size:2.3em;border-radius: 40px;color:white;line-height: 40px;font-size: 10px;text-align: center;}
#person-tree .search-child .checked-div .checked-img{border-radius: 10px;overflow: hidden;}
#person-tree .search-child .checked-div .checked-desc{width: 40px;font-size: 6px;overflow: hidden;white-space: nowrap;position: absolute;bottom: 0;color: black;text-align: center;}
#person-tree .data-desc{padding-top: 50px;}
#person-tree .sort_box .sort_list .check_img{position: absolute;top: 0px;right: 25px;font-size: 25px;line-height: 58px;}
#person-tree .sort_box .sort_list .checked{}
#person-tree .sort_box .sort_list .num_name{font-size: 17px;}
#person-tree .sort_box .sort_list .num_name .up-right{color: #656565;font-size: 15px;}
#person-tree .sort_box .sort_list .num_name2{color: #929292;font-size: 13px;padding-top: 5px;}
#person-tree .search-title{width:100%;position: fixed;top: 50px;z-index: 999;background-color: white;border-bottom: 1px solid #ccc;}
#person-tree .search-title a{width:50%;float: left;height: 40px;line-height: 50px;text-align: center;color: #666;font-size: 15px;}
#person-tree .search-title .active{border-bottom: 2.5px solid green;color: #333333;font-weight: bold;}
#person-tree #person-tree{width: 100%;position: absolute;  top: 0;  left: 0;  z-index: 1050;}
#person-tree #tree,#group{padding-left: .2em; padding-right: .2em;}
#person-tree #tree{padding-top: 44px;}
#person-tree .pad-10 .pad-10{padding-left:1.2em;}
#person-tree .pad-10 .show-name{padding-left:3em;position: relative;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 85%;}
#person-tree .tree-img{position: absolute;left: 5px;top: 6px; width: 35px;height: 35px;font-size: 10px;color: white;line-height: 35px;text-align: center;border-radius: 35px;overflow: hidden;}
#person-tree .font-3{height:50px;line-height:50px;position: relative;}
#person-tree .title-img{position: absolute;font-size: 20px;}
#person-tree .title-img-open{}
#person-tree .title-img-close{}
#person-tree .title-png{position: absolute; left: 1.2em;}
#person-tree .row-desc{text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;  cursor: pointer;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;border-bottom: 1px solid #ddd;}
#person-tree a{color:#777;}
#person-tree .dis-none{display:none;}
#person-tree .type-4{background-color: #f7871e;border-radius: 40px;font-size: 12px;  font-weight: bold;}
.person-warp{position: relative;padding-left: 5px;}
.person-warp input{width:60px;border: none;  box-shadow: none;  outline: none;  background-color: transparent;  padding-left: 8px; margin: -2px 0px;  height: 24px;  font-weight: normal;}
.p-div{position: relative;padding: 2px 5px;border: 1px solid;}
.p-lab{min-height: 15px;padding-right: 40px;margin-bottom:0;}
.p-btn{font-size: 30px;  position: absolute;  right: 10px;  top: 2px;}
#person-tree .inp-span{float: left;}
#person-tree .row-checked{width:32px;height:32px;position: absolute;right: 8px;top: 5px;}
.child-span{height: 30px;margin-left: 5px;line-height: 15px;float:left;  padding: 5px;display:inline-block;border: 1px solid;border-radius: 5px; background: #5bc0de;  color: white;}
#person-tree .title-img-circle{height: 40px;  width: 40px;  text-align: center;  float: left;  background-color: #666;  color: #ffffff;  margin: 0 2px;border-radius: 40px;}
#person-tree .tree-img-circle{height: 35px;  width: 35px;  text-align: center;  float: left;  background-color: #666;  color: #ffffff;border-radius: 35px;}
#person-tree .type1{background-color:#f7871e;}
#person-tree .type2{background-color:#10A6E2;}
#person-tree .type4{background-color:#2dcc70;}
#person-tree .icon-xuanzhong{color:#2dcc70;}
#person-tree .icon-weixuanzhong{color:#ccc;}
#person-tree .checkDesc{position: absolute;top: 0;right: 15px;font-size: 25px;}
#person-tree a .checkDesc{top:12px;}
#person-tree .icon-gongsi{font-size: 25px;background: #2dcc70;}
#person-tree .icon-bumen1{font-size: 30px;background: #f7b051;}
#person-tree .icon-gangwei1{font-size: 25px;background: #82bbd6;}

#person-tree ul li{list-style: none;margin:0;padding:0;}
#person-tree label{margin-bottom:0;}
.personplace{float: left;margin-left: 8px;font-size: 15px;color: #ccc;padding-top: 2px;}