/* CSS Document */
@charset "utf-8";
ul, ol, li {
    list-style: none;
}

.bgf{background: #fff}
.mt10{margin-top: 10px}
.mt20{margin-top: 20px}
.a_left{float: left;}
.a_right{float: right;}
/**首页主体**/

.header_nav_admin{height: 60px;background: #046eb8;font-family: "微软雅黑",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    }
.side_left{width: 200px;height:100%; position: fixed;left: 0; top: 60px; overflow: hidden;}
/*.content_admin{margin:70px 20px 10px 220px}*/
.welcome_mss{height: 34px;line-height: 34px; color: #000;padding: 0 18px 0 20px;overflow: hidden;background: #ecfcff}
.welcome_mss span{color: #ff4500}
.content_admin .row{margin:0;}
.content_admin .col-md-6{padding:0;}
.data_admin .left_list,.data_admin .right_list{width: 49.15%;overflow: hidden;}
.data_admin .panel{ border-radius: 0; border:none}
.data_admin .panel-heading{height: 30px; line-height: 30px; background: none;border-bottom: 2px solid #eee; padding: 0}
.data_admin h3{font-size: 14px; font-weight: 700; color: #000; position: relative;line-height: 30px}
.data_admin h3 i{display: block;width:20px; height: 20px; position: absolute; margin-left: 16px; top: 5px;}
.data_admin h3 i,.header_nav_admin .a_nav i{background: url("../images/admin_tb.png") no-repeat}
.data_admin h3 i.a_kj{background-position: -10px -30px}
.data_admin h3 i.a_zs{background-position: -70px -30px}
.data_admin h3 i.a_fx{background-position: -101px -30px}
.data_admin h3 i.a_xw{background-position: -132px -30px}
.data_admin h3 i.a_sz{background-position: -38px -30px; right: 10px;top: 14px;}
.data_admin h3 span{display: block;position: absolute; left:46px}
.data_admin .panel-body{padding:0 20px 35px 20px}
.qucly_admin{padding-bottom: 35px;cursor:default}
.qucly_admin a{display: block;margin-top: 25px}
.qucly_admin a span{display:block;text-align: center;margin: 0 auto;color:#fff; }
.qucly_admin a i.a_kj_tz{background-position: -13px -70px}
.qucly_admin a i.a_kj_xx{background-position: -84px -70px}
.qucly_admin a i.a_kj_lc{background-position: -12px -131px}
.qucly_admin a i.a_kj_gr{background-position: -159px -70px}
.qucly_admin a i.a_kj_xt{background-position: -230px -70px}
.tabselect_admin.panel-body{padding: 0}
.tabselect_admin{border-bottom: 1px solid #f3f3f3; padding-left: 32px;}
.tabselect_admin a{margin-right: 5%}
.nav-tabs>a{padding:10px 10px 8px 10px; color: #919191;display: block;float: left; text-decoration: none}
.nav-tabs>a:hover{background:none; border-bottom: 2px solid #ff9800; }
.nav-tabs>a.active{border:none;border-bottom: 2px solid #ff9800; background: none; color: #000}

.tabselect_admin .tab-content{padding: 4px 20px 4px 20px}
.tab_content_admin ul{padding-left: 0}
.tab_content_admin ul li{border-bottom: none;height: 37px; line-height: 37px; overflow: hidden; margin-right: 0}
.tab_content_admin ul li i,.tab_content_admin ul li a,.tab_content_admin ul li span,.tab_content_admin ul li em{display: block; color: #919191; float: left;}
.tab_content_admin ul li i{display: block;width: 5px; height: 5px; border-radius: 50%; margin-top: 16px; margin-right: 5px}
.tab_content_admin ul li em{float: right;}
.tab_content_admin i.i1{background: #fd0100}
.tab_content_admin i.i2{background: #d49703}
.tab_content_admin i.i3{background: #03cd02}
.tab_content_admin ul li a{width: 66%; color: #000}
#main_admin{margin-top:20px;}
.data_admin .panel-body.pbau{padding-bottom: 0}
.tab_content_admin li.li1 a,.tab_content_admin li.li1 em,.tab_content_admin li.li1 span{color: #ff9800}
/*导航*/
.header_nav_admin h1{float: left; margin:10px 10px 0 10px;min-width: 228px}
.header_nav_admin .a_nav{float: left;position: relative;font-size: 16px; color: #fff;display: block; height: 60px; line-height: 60px;margin-right:5%}
.header_nav_admin .a_nav i{display: block;position: absolute;width: 20px; height:20px; left: 0px;}
.header_nav_admin .a_nav i.a_sp{background-position: -12px 0 ;top:18px}
.header_nav_admin .a_nav i.a_yj{background-position: -41px 0 ;top:18px}
.header_nav_admin .a_nav i.a_wd{background-position: -69px -5px ;top:20px}
.header_nav_admin .a_nav i.a_cpy{background-position: -108px -1px ;top:20px; width: 25px}
.header_nav_admin .a_nav i.a_bz{background-position: -152px -5px ;top:20px}
.header_nav_admin .a_nav span{background: #ff0000;color: #fff; border-radius:35px 35px; font-size: 10px; font-weight: normal;display: block;text-align: center;height: 18px;
line-height: 18px;padding:0px 5px;position: absolute; right: -25px; top: 10px;-webkit-border-radius: 35px 35px}
.header_nav_admin input{float: right;width: 170px; height: 20px;line-height: 20px; padding-left:5px; border:none; border-radius: 4px; margin:20px 40px 0 0;}
.header_nav_admin .dropdown{float: right;margin-right: 20px}
.header_nav_admin .dropdown button{border:none; background: none; color: #fff; margin-top:14px;}
.header_nav_admin .dropdown-menu{left:-93px}
img.a_tx{float: right;width: 26px; height: 26px; margin-top: 18px}

/*做导航*/
.menuTree{ margin-left:0px; border-right: 1px solid #ccc}
.menuTree div ul{ overflow:hidden; display:none; height:auto; margin:0;}
.outd a{ color:#777; text-decoration:none}

/*所有*/
.outd span{font-size: 14px;font-weight: 700;
display: block;
color: #777;
text-decoration: none;
border-bottom: 1px solid #ccc;
border-top: 1px solid #fff;
background-color: #f8f8f8;
background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f2f2f2));
background: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
background: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
background: -ms-linear-gradient(top, #f9f9f9, #f2f2f2);
background: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
background: linear-gradient(top, #f9f9f9, #f2f2f2);
box-shadow: inset 0px 1px 1px #fff;}
.outd .outd span:hover,.outd ul .outd a:hover,.outd .outd span:hover a{background: #eee;border-top:1px solid #eee;border-bottom:1px solid #eee;box-shadow: inset 0px 1px 1px #eee;}

/*定位图标*/
.outd span{height: 60px; line-height: 60px; cursor: pointer;width: 100%;min-width: 100px;overflow: hidden;position: relative;text-indent: 60px}
.outd i,.outd em,.outd a,.outd span{display: block;}
/*一级*/
.outd i,.outd em{position: absolute }
.outd i{width: 38px;height: 38px;background: #5579BA ; color:#fff;border-radius: 50%; left: 10px; top: 10px; text-indent: 0px;line-height: 38px; text-align: center;}
.outd em{right: 20px; top: 22px }
/*二级*/
.outd ul .outd span{height: 43px; line-height: 43px;background: #fefefe}
.outd ul .outd span i{top:2px; background: none; color: #777; text-indent: 20px}
.outd ul .outd span em{top: 13px}
/*三级*/
.outd ul .outd ul .outd span{height: 43px; line-height: 43px;background: #fefefe;text-indent: 90px}
.outd ul .outd ul .outd span a{border-bottom: 1px solid #ccc; margin-top: -1px}
.outd ul .outd ul .outd span i{top:2px;left: 40px}
/*一级hover*/
.outd span:hover a,.outd span.a_active a,.outd span.a_active,.outd span:hover{color: #fff; border-bottom: 1px solid #167cac;
border-top: 1px solid #2094ca;
background-color: #0993d3;
background: -webkit-gradient(linear, left top, left bottom, from(#1aaef3), to(#0993d3));
background: -webkit-linear-gradient(top, #1aaef3, #0993d3);
background: -moz-linear-gradient(top, #1aaef3, #0993d3);
background: -ms-linear-gradient(top, #1aaef3, #0993d3);
background: -o-linear-gradient(top, #1aaef3, #0993d3);
background: linear-gradient(top, #1aaef3, #0993d3);
box-shadow: none;}
/*二级hover*/
.outd ul .outd span:hover{
    color: #777;
    border-bottom: 1px solid #ccc
}
/*三级hover*/
.outd ul .outd ul .outd span a:hover{
    color: #777;
    margin-top: -2px
}
/*收缩*/
.a_s_s,.a_z_k{display: block;height: 30px;line-height: 30px; text-align: center; cursor: pointer;font-size: 20px}

.header_nav_admin h1 p{font-size: 12px; color: #fff;font-family: "微软雅黑"}
.header_nav_admin h1 p.p2{padding-top: 3px}
.a_sz{cursor: pointer}
.qucly_admin a i{
    position : relative;
}
.qucly_admin a i img{
    position : absolute;
    width : 20px;
    height: 21px;
    right:-100px;
    top :-7px;
    cursor: pointer;
}
.itemDelete{
    display: none;
}
.toolsBut{
    color: #0000ff;
    font-size: 12px;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}
.toolsDiv{
    width: 100%;
    height: 100%;
    position: relative;
}
.a_kj_div{
    height: 86px;
    width: 102px;
    position: absolute;
    right: 0px;
    top: 34px;
    border-radius:6px;
    background-color: #ffffff;
    border:1px solid #ebebeb ;
    -moz-box-shadow: 2px 2px 10px #909090;
    -webkit-box-shadow: 2px 2px 10px #909090;
    box-shadow:2px 2px 10px #909090;
    z-index:111;
}
.a_kj_div_sanjiao1{
    width:0;
    height:0;
    border-top:18px solid transparent;
    border-bottom:18px solid transparent;
    border-right:18px solid #ebebeb;
    border-left:0px;
    position: absolute;
    right: 10px;
    top: -18px;
}
.a_kj_div_sanjiao2{
    width:0;
    height:0;
    border-top:16px solid transparent;
    border-bottom:16px solid transparent;
    border-right:16px solid #ffffff;
    border-left:0px;
    position: absolute;
    right: 12px;
    top: -13px;
}
.a_kj_div_sanjiao3{
    width:2px;
    height:20px;
    position: absolute;
    right: 10px;
    top: 0px;
    background-color: #ffffff;
}
.a_kj_div_item{
    width: 100%;
    height: 50%;
    cursor: default;
}
.a_kj_div_item>span{
    color: #5e5e5e;
    font-size: 14px;
    font-style: normal;
    left: 32px !important;
    margin-top: 6px ;
    cursor: pointer;
}
.a_kj_div_item_add{
    background: url("/public/home/homePageNew/images/add.png") !important;
    width: 14px !important;
    height: 14px !important;
    margin-top: 8px ;
    margin-left:10px !important;
}
.a_kj_div_item_delete{
    background: url("/public/home/homePageNew/images/edit.png") !important;
    width: 14px !important;
    height: 14px !important;
    margin-top: 51px ;
    margin-left:10px !important;
}
.data_admin .panel{position: relative;}
.data_admin a.icon-zuo,.data_admin a.icon-you{display:block;width: 50px; height: 50px; font-size: 30px;position: absolute;top: 43% ;color: #CAC9C9;z-index: 1111111;text-decoration:none;}
.data_admin a.icon-zuo{left: 0;}
.data_admin a.icon-you{right: 0;text-align: right;}
.data_admin a.icon-zuo:hover,.data_admin a.icon-you:hover{color: #FF9800}
#swiperDoc .swiper-slide{
    width: auto;
}
#swiperDoc {
    border-bottom: 1px solid #f1f1f1;
}