.count-div .my-col{
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
}
.count-div .my-col .my-left-div{
    width: 120px;
    padding: 10px;
    background-color: #2dcc72;
    color: #fff;
    font-weight: bolder;
    text-align: right;
}
.count-div .my-col .my-right-div{
    flex: 1;
    background-color: #fff;
    padding: 10px;
}


.search-div .my-col{
    display: flex;
}
.search-div .my-col .my-left-div{
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    width: 60px;
    text-align: right;
}
.search-div .my-col .my-right-div{
    flex: 1;
}
.search-div .my-search-div{
    text-align: right;
}
.search-div .my-search-div button{
    width: 50%;!important;
}
