.name-font{
    font-size: 15px;
    font-weight: bold;
}
.attachment{
    border: 0px;
}
.attachment-layout{
    padding: 0px 6px;
    overflow: hidden;
    background-color: #eff3ff!important;
    border: 0px;
}
.attachment-layout-left{
    float: left;
}
.attachment-layout-right{
    width: 10%;
    float: right;
    font-size: 18px;
    color:#4cae4c;
}