
.document-toolbar {
    margin-left: 6px;
}

.document-list {
    font-size: 14px;
}

.document-list .table {
    margin-bottom: 0px;
}

.document-new-dialog-error{
    color: red;
}
.phoneExtend{
    position: relative;
}
.phoneExtendInfo{
    position: absolute;
    bottom: 4px;
    left:-30px;
}
.sendName{

}
.sendTime{

}