.shareMask{
    position: fixed;
    width:  100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.7);
}
.share{
    position: fixed;
    left: 50%;
    top: 50%;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 10000;
    background: -webkit-linear-gradient(left, #f8f6f4 , #ffffff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #f8f6f4, #ffffff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #f8f6f4, #ffffff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #f8f6f4 , #ffffff); /* 标准的语法 */
}
.share>.bottom{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    border-top: 1px solid #f2f2f2;
}
.share>.bottom li{
    width: 50%;
    height: 44px;
    line-height: 44px;
    float: left;
    list-style: none;
    text-align: center;
}
.share>.bottom .cancel{
    border-right: 1px solid #f2f2f2;
}
.share>.bottom .confirm{
    color: green;
}
.share>.head{
    padding: 14px;
    font-size: 15px;
    margin-bottom: 44px;
}
.share>.head>p{
    font-weight: bolder;
}
.share>.head>.members{
    height: 73px;
    width: 272px;
    overflow-y:  hidden;
    overflow-x:  auto;
}
.share>.head>.line{
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100px;
    left:  0;
    padding: 0 14px;
}
.share>.head>.line>div{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
.share>.head>.members>.list{
    white-space: nowrap;
}
.share>.head>.members>.list>div{
    height: 50px;
    width: 50px;
    margin-top:  5px;
    display: inline-block;
}
.share>.head>.members>.list>div>img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.share>.head>.title{
    font-size: 14px;
    color: #919191;
    max-height: 44px;
    overflow: hidden;
}
.share>.head>.content{
    margin-top:  14px;
    position: relative;
}
.share>.head>.content>.textarea{
    width: 100%;
    min-height: 36px;
    max-height: 56px;
    padding: 6px 2px 4px 8px;
    border: 1px solid #ededed;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
    -webkit-appearance: none;
    -webkit-user-modify:read-write-plaintext-only;
}
.share>.head>.content>.placeholder{
    color: #c3c3c3;
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 14px;
}
.share>.head>.members::-webkit-scrollbar {
    width: 0;
}
.share>.head>.content>.textarea::-webkit-scrollbar {
    width: 3px;
}
.share>.head>.content>.textarea::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.share>.head>.content>.textarea::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}