.pickContainer{
    position: relative;
    width: 100%;
    height: 100%;
}
.pickInput{
    width: 100%;
    margin: 0;
    display: block;
    border:1px solid #ccc;
    line-height:1.5;
    border-radius:3px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: initial;
}
.pickInputNewline{
    overflow: hidden;
    white-space: nowrap;
}
.pickInputFocus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.pickInput>input{
    border: none;
    font-size:12px;
    padding: 5px 20px 5px 5px;
    outline: none;
    box-shadow: none;
}
.pickInput>span{
    border-radius: 4px;
}
.pickInput>.separate{
    color: #000;
    font-weight: bolder;
    display: inline-block;
    min-width: 4px;
    text-align: center;
}
.pickMenu {
    top: auto;
    width: 100%;
    z-index: 1000;
    font-size : 14px;
    text-align : left;
    list-style : none;
    position: absolute;
    background: #fafafa;
    border-radius: 3px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: inset 0 1px 2px #fff;
}
.meuUl{
    padding: 0;
    margin: 0;
    overflow-y: auto;
}
.meuUl::-webkit-scrollbar-track{
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
}
.meuUl::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0,153,255, 0.34);
}
.meuUl::-webkit-scrollbar-thumb{
    background-color: #0099ff;
    border-radius: 10px;
}
.meuUl>li{
    height: 26px;
    line-height: 26px;
    padding-left : 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.meuUl>li>a{
    text-decoration:none;
    line-height: 16px;
    outline: none;
    box-shadow: none;
    padding: 0 15px;
    font-size: 12px;
}
.pickNoFound{
    height: 150px !important;
    text-align: center;
    line-height: 150px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pickNoFound>i{
     color: #6bb3ea;
}
.meuButton{
    background-color : #f1f1f1;
    height: 30px;
    line-height: 30px;
}
.pickFindMsg{
    margin-left: 10px;
    color: #222;
}
.pickFindMsg>span{
    color: red;
}
.itemActive{
    background-color:#428bca !important;
    border-radius:4px;
}
.itemActive .itemContent>b,.itemActive .itemContent>span{
    color: #fff !important;
    border-collapse : separate;
}
.itemContent>b,.itemContent>span{
    color: #222 !important;
}
.itemContent>span{
    /*font-style: italic;*/
    font-size: 12px;
}
.itemIcon{
    font-size: 14px;
}
.pickItemReadonly>a .itemContent>b,.pickItemReadonly>a .itemContent>span{
    color: #b1b1b1 !important;
}
.itemReadonlyActive{
    background-color: #f3f3f3 !important;
}
.pickAdd{
    float: right;
    margin-right:  10px;
}
.pickAdd>a{
    text-decoration:none;
}
.pickDisable,.pickDisable>input{
    cursor: not-allowed !important;
    background-color:  #eeeeee;
}
.pickMask{
    top: auto;
    width: 100%;
    position: absolute;
    z-index: 1001;
    text-align: center;
    background-color: rgba(232,230,240,1);
}
.pickMask>span{
    width:  20px;
    height:  20px;
    display: block;
    background: url("/public/controls/selector/pickMember/loading.gif");
    background-size: contain;
}